.slider-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #000000;
    width: 300px;
    margin: 20px;
}

.custom-slider {
    margin-left: 10px;
}

.custom-slider__wrapper {
    margin: 120px 0;
}