.slider-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #000000;
    margin: 10px;
}

.custom-slider {
    margin-left: 10px;
}

.custom-slider__wrapper {
    margin: 120px 0;
}

.slick-slide img {
    width: 100%;
}

.custom-slider__wrapper {
    padding: 20px 10px;
}

.slick-next {
    right: 25px;
}